#companies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;

    h2 {
        font-weight: 700;
        margin-bottom: 24px;
        font-size: 48px;
        font-size: calc(1.375rem + 1.5vw);
    }
}
.companies-item {
    color: $accent-dark;
    font-size: 18px;
    font-weight: 700;
}