extends layout/secondary

block variables
	-var title = 'Cookie policy HomeMate.expert'
	-var lang = 'en'

block content
	include ./modules/header/header_light
	include ./modules/policy/cookie-policy
	include ./modules/footer/footer

block script 

