extends layout/secondary

block variables
	-var title = 'Homemate expert'
	-var lang = 'en'
	-var isSuccess = true

block content
	include ./modules/header/header_light
	include ./modules/success/success
	include ./modules/footer/footer
	
block script 

