extends layout/secondary

block variables
	-var title = 'Terms of use HomeMate.expert'
	-var lang = 'en'

block content
	include ./modules/header/header_light
	include ./modules/policy/terms-of-use
	include ./modules/footer/footer
	
block script 

